{% extends "auctions/layout.html" %}
 
{% block body %}
    <h2>Active Listings</h2>
    <div class="row p-5" style="margin-right:0px">
        {% for auction in auctions%}
            <div class="col-sm-3 mt-3">
                <a href="{% url 'auction' auction.id %}">
                    <div class="card card-activeListings text-center">
                        {% if auction.image_url is None or auction.image_url == "" %}
                        <img class="card-img-top" src="../../static/auctions/unknown.png" alt="image">

                        {% else %}
                        <img class="card-img-top" src="{{auction.image_url}}" alt="image">

                        {% endif %}

                        <div class="card-body">
                        <h5 class="card-title">{{auction.title}}</h5>
                        <p class="card-text">{{auction.description|truncatewords:15 }}</p>
                        <span class="displayPrice">${{auction.starting_bid}}</span>
                        </div>
                    </div>
                </a>
            </div>
          
        {% endfor %}
    </div>

{% endblock %}